/*
Color palette:
primary: #ffdc4a,
complementary: #4a6eff,
background: #121212,
bg layer 2: #262626;
bg layer 3: #303030;
*/

body{
    background: #000000;
}

.card{
    color: #ffffff;
    background: none;
    position: relative;
    margin: 10px;
}

.card:hover{
    color: #ffffff;
    background: none;
    position: relative;
    margin: 10px;
    box-shadow:     0 0 .2rem #fff,
                    0 0 .2rem #fff,
                    0 0 2rem #ffdc4a,
                    0 0 0.8rem #ffdc4a,
                    0 0 2.8rem #ffdc4a,
                    inset 0 0 1.3rem #ffdc4a;
}

.image-container {
    position: relative;
}

.image-overlay-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    font-size: 30px;
}

.footer{
    text-align: center;
    color: #ffffff;
    text-decoration: none;
}

.footer:hover{
    color: #ffdc4a;
}

.row{
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0;
}

.btn-duck{
    background: none;
    position: fixed;
    bottom: 5px;
    right: 5px;
}

#duckWalk {
    position: absolute;
}