/*
Color palette:
primary: #ffdc4a,
complementary: #4a6eff,
background: #121212,
bg layer 2: #262626;
bg layer 3: #303030;
*/

body{
    background: #000000;
}

.card{
    color: #ffffff;
    background: none;
    position: relative;
    margin: 10px;
}

.card-engineering:hover{
    color: #ffffff;
    background: none;
    position: relative;
    box-shadow:     0 0 .2rem #fff,
                    0 0 .2rem #fff,
                    0 0 2rem #ff0000,
                    0 0 0.8rem #ff0000,
                    0 0 2.8rem #ff0000,
                    inset 0 0 1.3rem #ff0000;
}

.card-programming:hover{
    color: #ffffff;
    background: none;
    position: relative;
    box-shadow:     0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem #00ff00,
    0 0 0.8rem #00ff00,
    0 0 2.8rem #00ff00,
    inset 0 0 1.3rem #00ff00;
}

.card-financing:hover{
    color: #ffffff;
    background: none;
    position: relative;
    box-shadow:     0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem #0000ff,
    0 0 0.8rem #0000ff,
    0 0 2.8rem #0000ff,
    inset 0 0 1.3rem #0000ff;
}

.image-container {
    position: relative;
}

.image-overlay-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    font-size: 30px;
}

.footer{
    text-align: center;
    color: #ffffff;
    text-decoration: none;
}

.footer:hover{
    color: #ffdc4a;
}

.row{
    display: flex;
    align-items: center;
    height: 90%;
    margin: 0;
}

.fixed-area{
    position: fixed;
    bottom: 5px;
    width: 15%;
    height: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: flex; /* This is key for aligning elements */
    justify-content: center; /* Horizontally aligns child elements in the center */
    align-items: center; /* Vertically aligns child elements in the center */
}

.btn-fixed:hover{
}

#duckWalk {
    position: absolute;
}